<html lang="en">
  <%- include('partials/header') %>
<main>
<div>
  <div class="destacado">
    <p >Todos los Libros</p>    
        <section class="destacadoflex" > 
                <% for ( product of products) { %> 
            <article class="libro" ><img class="total" src="/images/<%= product.img %>" alt="Caperucita roja"><%= product.categoria %> </article> <% } %> 
            </section>
        </div>
  </div>
</div>
<h2 class="destacado">Agregar nuevo libro</h2>
<form action="/admin/crear" method="POST">   
<section class="contenedorflex">  
<article>
    <label class="destacadosincentrar" for="titulo">Título del libro:</label>
      <input type="text" class="contenedordetexto" name="titulo" id="titulo" required>
  </article>
<article> 
    <label class="destacadosincentrar" for="nombre"> Escritor:</label>
    <input type="text" name="escritor" class="contenedordetexto" id="escritor" required >
</article>
<article>
  <label class="destacadosincentrar" for="editorial">Editorial:</label>
  <input type="text" name="editorial" class="contenedordetexto" id="editorial" required>
</article>
<article> 
  <label class="destacadosincentrar" for="año">Año de publicación:</label>
  <input type="text" name="publicacion"class="contenedordetexto" id="publicacion" required>
</article>
<article>
  <label class="destacadosincentrar" for="paginas">Cantidad de páginas:</label>
  <input type="text" name="paginas"class="contenedordetexto" id="paginas" required>
</article>
<article>
  <label class="destacadosincentrar" for="idioma">Idioma:</label>
  <input type="text" name="idioma"class="contenedordetexto" id="idioma"required>
</article>
<article class="contenedordetexto" ><label class="destacadosincentrar" for="destacado" > Destacar producto</label>
  <input type="checkbox" id="destacado" name="destacado" value="SI"></article>
<article>
  <label class="destacadosincentrar" for="categoria">Género : </label>
  <select name="categoria"class="contenedordetexto" id="categoria">
    <option value="Programación">Programación</option>
    <option value="Cocina">Cocina</option>
    <option value="Ciencia">Ciencia</option>
    <option value="Drama">Drama</option>
    <option value="Ciencia ficción">Ciencia ficción</option>
    <option value="Arte">Arte</option>
    </select>
  </article>    
<article>
  <label class="destacadosincentrar" for="sinopsis">Sinopsis</label> <br>
  <textarea name="sinopsis" id="sinopsis" cols="60" rows="7" > </textarea>
  </section>
<article class="contenedorbotones">
  <button type="submit" class="boton3" >Enviar </button>
</article>
</form>
</main>
<footer></footer>
</body>
</html>