<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
    <main><div >
       <div> <h2 class="destacado">¿Quienes somos?</h2>
            <p class="texto">Readme es un E-comerce que acompaña a nuestros clientes el el proceso de aprendizaje <br>
                brindandole libros por categoria y foros de discusión para debatir sobre temas especificos 
                  <details > 
                      <summary class="destacado">Leer mas </summary>
                      <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus totam rerum quis sit in, assumenda, debitis, <br>
                        dolores eos unde perspiciatis sapiente animi voluptate autem explicabo iste aliquam nesciunt? Ratione molestiae consequuntur saepe<br>
                         dicta, sequi impedit harum placeat corporis eos fugit veritatis vel quis numquam dolores optio quod? Consequuntur, fugit et!</p>
                    </details>
        </div>
            
        <div class="destacado">
            <p >Destacados</p>    
                <section class="destacadoflex" >
                <article class="libro" ><img class="total" src="img/html.png" alt="introducción a html"></article>
                <article class="libro" ><img class="total" src="img/cocina.jpg" alt="bienvenidos a la cocina">Cocina</article>
                <article class="libro" ><img class="total" src="img/cuadernodeciencia.jpg" alt="Cuaderno de ciencia">ciencia</article>
                <article class="libro" ><img class="total" src="img/starwars.jpg" alt="star wars">Ciencia Ficción</article>
                <article class="libro" ><img class="total" src="img/caperucitaroja.jpg" alt="Caperucita roja">Niños</article>
                </section>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>