<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
    <main>
        <div class=""><form action="index.html" method="POST">
            <div class="contenedorflex">
             <article class="">
                <label for="username" class="destacadosincentrar">nombre</label>
                <input type="text" class="contenedordetexto" name="username" id="username" placeholder="Nombre de usuario">
            </article>
            <article class="">
                <label for="password" class="destacadosincentrar">contraseña</label>
            <input type="password" class="contenedordetexto" name="password" id="password-1" placeholder="Ingresa tu clave">
            </article>
        </div>
                <div class="contenedorbotones">
            <article>
                <button  class="boton2" type="submit">Confirmar</button>
            </article>
            <article>
                <button class="boton2" type="submit">Olvide mi clave</button>
            </article>
                </div></form>
    </div>
    </main>
    <footer></footer>
</body>
</html>