<html lang="en">
    <%- include('partials/header') %>
     <main>
        <form action="/users/register" method="POST" enctype="multipart/form-data">
        <div class="contenedorflex">
            
            <article>
                <label class="destacadosincentrar" for="full-name">Nombre</label>
                <input type="text" class="contenedordetexto" name="full_name" id="full_name" placeholder="Nombre y apellido">
            </article>
            
            <article>
                <label class="destacadosincentrar" for="birth-date">Fecha de nacimiento</label>
                <input type="date" name="birth_date" class="contenedordetexto" id="birth_date">
            </article>
            <article>
                <label class="destacadosincentrar" for="adress"> dirección</label>
                <input type="text" class="contenedordetexto" name="adress" id="adress" placeholder="Domicilio">
            </article>
            <article>
                <label class="destacadosincentrar" for="email">e-mail</label>
                <input type="email" name="email" id="email" class="contenedordetexto" placeholder="E-mail">
            </article>
            <article>
                <label class="destacadosincentrar" for="email2">confirmar e-mail</label>
                <input class="contenedordetexto" type="email" name="email2" id="email2" placeholder="Confirma tu e-mail">
            </article>
            <article>
                <label class="destacadosincentrar" for="username">nombre de usuario</label>
                <input type="text" name="username" class="contenedordetexto" id="username" placeholder="Nombre de usuario">
            </article>
            <articlE>
                <label class="destacadosincentrar" for="picture">Elegí tu foto de usuario</label>
                <input type="file" name="picture" id="picture" class="contenedordetexto" value="Seleccionar archivo">
            </article>
            <article>
                <label class="destacadosincentrar" for="password">Elegí tu contraseña</label>
                <input type="password" name="password_1" class="contenedordetexto" id="password_1" placeholder="Elegí tu contraseña">
            </article>
            <article>   <label class="destacadosincentrar" for="password-2">Confirma tu contraseña</label>
                <input type="password" name="password-2" id="password-2" class="contenedordetexto" placeholder="Confirma tu contraseña">
            </article>
            <section>
                <h2 class="destacadosincentrar">Intereses</h2>
                <input type="checkbox" name="Programacion" id="programacion" value="programacion">
                <label class="destacadosincentrar" for="">programacion</label>
                <input type="checkbox" name="cocina" id="cocina" value="cocina"> 
                <label class="destacadosincentrar" for="">Cocina</label>
                <input type="checkbox" name="ciencia" id="ciencia" value="Ciencia"> 
                <label class="destacadosincentrar" for="">Ciencia</label>
                <input type="checkbox" name="ciencia-ficcion" id="ciencia-ficcion" value="ciencia-ficcion"> 
                <label class="destacadosincentrar" for="">Ciencia Ficcion</label>
                <input type="checkbox" name="kids" id="kids" value="kids"> 
                <label class="destacadosincentrar" for="">Niños</label>
            <article> <label for="otros" class="destacadosincentrar">otros</label>
            <input type="text" name="otros" class="contenedordetexto" id="otros" placeholder="otros"></article>
            </section>
            <article class="contenedorbotones">
                <button class="boton3" type="submit">Enviar</button>
            </article>
              </form>     
        </div>
       
    </main>
    <footer></footer>
</body>
</html>