<footer>
    
        <div class="container-footer">
            <div class="footer">
                <div class="copyright"> @ 2020 Todos los Derechos Reservados |
                    <a href="">Readme</a>
                </div>
                <div class="Legales">
                    <a class="links-footer" href=""> Informacion de la compania</a> | 
                    <a class="links-footer" href="">Politica y Privacidad</a> |
                    <a class="links-footer" href="">Terminos y condiciones</a> | 
                    <a class="links-footer" href=""> Contacto y Redes Sociales</a>
                </div>
            </div>
        </div>
</footer>