<footer>
    <div class="container-all-footer">
        <div class="container-body">
            <div class="Column1">
                <h1>Mas informacion de la compania</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident repudiandae corporis,
                    amet veniam molestias ut cupiditate autem nisi deserunt esse quo magni dolore vitae labore
                    quidem fugiat fugit laudantium. Ducimus, possimus. Vitae ipsum, ab doloribus amet saepe aut
                    dolorum qui totam perferendis temporibus sunt. Rem nisi sunt error perspiciatis consequatur!
                </p>
            </div>
            <div class="Column2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="images/icons/facebook.png">
                    <label>Seguinos en Facebook</label>
                </div>
                <div class="row">
                    <img src="images/icons/twitter.png">
                    <label>Seguinos en Twitter</label>
                </div>
                <div class="row">
                    <img src="images/icons/instagram.jpg">
                    <label>Seguinos en Instagram</label>
                </div>
                <div class="row">
                    <img src="images/icons/google-plus.png">
                    <label>Seguinos en Google+</label>
                </div>
                <div class="row">
                    <img src="images/icons/pinterest.png">
                    <label>Seguinos en Pinterest</label>
                </div>
            </div>
            <div class="Column3">
                <h1>Informacion Contactos</h1>
                <div class="row2">
                    <img src="images/icons/ubicacion.png">
                    <label>domicilio de la empresa</label>
                </div>
                <div class="row2">
                    <img src="images/icons/smartphone.png">
                    <label>telefono de contacto</label>
                </div>
                <div class="row2">
                    <img src="images/icons/correo.png">
                    <label>correo de contacto y pagina web</label>
                </div>
            </div>
        </div>
    </div>
        <div class="container-footer">
            <div class="footer">
                <div class="copyright"> @ 2020 Todos los Derechos Reservados |
                    <a href="">Readme</a>
                </div>
                <div class="Legales">
                    <a class="links-footer" href=""> Informacion de la compania</a> | 
                    <a class="links-footer" href="">Politica y Privacidad</a> |
                    <a class="links-footer" href="">Terminos y condiciones</a> | 
                    <a class="links-footer" href=""> Contacto y Redes Sociales</a>
                </div>
            </div>
        </div>
</footer>