<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&display=swap" rel="stylesheet">

</head>
<body class="background">
    <header>
        <div class="header">
        <section class="izquierda">
            <article>
                <i  class="fas fa-bars miClase2"></i> 
            </article>
                <% if ( userLog) { %>
            <article >
                <a href="/carrito"><i class="fas fa-shopping-cart miClase2">
                </i>
                </a>
            </article>
                <% } %> 
            <article class="buscar"><form action="#" method="POST"></form>
            <label for="busqueda"><i class="fas fa-search miClase"></i></label>
            <input type="text" class="busqueda" id="busqueda" name="busqueda" placeholder="buscar" height="15px"></article></section>
            <article class="titulo"> 
                <a class="nada" href="/">
                    <h1 >README</h1>
                </a>
            </article>
                <% if ( !userLog) { %> 
            <section class="ingresar">
            <article class="login"><a class="sinDecoracion" href="/users/login" ><button class="boton3">iniciar sesion</button></a></article>
            <article > <a  href="/users/Register" class="sinDecoracion" ><button class="boton3">registrarse</button></a></article>
        </section>
                <% }  %>
    </div>
    </header>