<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body class="background">
    <header>
        <div class="header">
        <section class="izquierda">
            <article><i  class="fas fa-bars miClase2"></i> </article>
            <article><a href="/carrito"><i class="fas fa-shopping-cart miclase2"></i></a></article>
            <article ><form action="#" method="POST"></form>
            <label for="busqueda"><i class="fas fa-search miClase"></i></label>
            <input type="text" class="busqueda" id="busqueda" name="busqueda" placeholder="buscar" height="20px"></article></section>
       <article class="titulo"> <a class="nada" href="/"><h1 >README</h1></a></article>
        <section class="ingresar">
            <article class="login"><a  href="/login" ><p class="boton3">iniciar sesión</p></a></article>
            <article> <a  href="/Register" ><p class="boton3">Registrarse</p></a></article>
        </section>
    </div>
    </header>
    <main>
        <div class=""><form action="index.html" method="POST">
            <div class="contenedorflex">
             <article class="">
                <label for="username" class="destacadosincentrar">nombre</label>
                <input type="text" class="contenedordetexto" name="username" id="username" placeholder="Nombre de usuario">
            </article>
            <article class="">
                <label for="password" class="destacadosincentrar">contraseña</label>
            <input type="password" class="contenedordetexto" name="password" id="password-1" placeholder="Ingresa tu clave">
            </article>
        </div>
                <div class="contenedorbotones">
            <article>
                <button  class="boton2" type="submit">Confirmar</button>
            </article>
            <article>
                <button class="boton2" type="submit">Olvide mi clave</button>
            </article>
                </div></form>
    </div>
    </main>
    <footer></footer>
</body>
</html>