.titulo{
  
   font-family: 'Lato', sans-serif;
   color: rgb(73, 115, 139);
   flex-grow: 1;

}
.login{
   border-radius: 3px;
   border: 0px;
   color: white;
   
}
.ingresar{
   font-family: 'Lato', sans-serif;
   color: rgb(73, 115, 139); 
   display: flex;
   width: 25vw;
   justify-content: space-between;
}
.tituloderecha{
   font-family: 'Lato', sans-serif;
   color: rgb(73, 115, 139);
   text-align: right;
  
}
@media (max-width: 700px){
   .ingresar{flex-direction: column;}
   .login{
      margin-right: 0vw;
   }

    .buscar{
       display: none;
    }
}
.izquierda{
  width: 25vw ;
  display: flex;
  justify-content: space-between;
}
.header{
   height: 90px;
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   display: flex;
   text-align: center;
   width: 100%;
   justify-content: space-between;
}
.background{
   background-color: rgba(127, 155, 186, 0.3);
   
}


.miClase{
   margin-top: 10px;
   margin-left: 10px;
   font-size: 26px;
  
}


.destacado{
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   text-align: center;
}

.texto{
   font-family: 'Mulish', sans-serif;
   font-weight: 200;
   text-align: center;
}

.libro{
    width: 15vw;
    height: 49vh;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 30px ;
    color: black;
    background-color: white;
    
    
}
.destacadoSinCentrar{
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   margin: 5px;
}

.destacadoflex{
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;  
   
}
.total{
   width: 100%;
    height: 100%;
    border-radius: 10px;
}

.padrearticulo{
   display: flex;
   border-radius: 30px;
   margin-top: 70px;
   height: 500px;
   width: 1050px ;
   background-color: white;
   margin-left:auto;
   margin-right: auto;
}
.imgarticulo{
   height: 450px;
   width: 330px;
   margin-top: 25px;
   margin-left: 70px;
}
.titulolibro{
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
   color: rgb(0, 0, 0);
   font-size: 45px;
   margin-left: 10px;  
   margin-top: 10px;  
   font-style: italic;
    
}

.descripcionarticulo{
   height: 450px;
   width: 500px;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: 40px;
   margin-top: 20px;
   margin-right: 20px;
   border: gray 2px solid;
   border-radius: 10px;
}
.precioarticulo{
   font-size: 37px;
   font-family: 'Mulish', sans-serif;
   font-weight: 200;
   color: black;
   font-style: italic;
   margin-left:55px;
  
  }
  .textoart{
     font-family: 'Mulish', sans-serif;
     font-weight: 200;
     text-align: justify;
  }
 
  .carritos{width: 20%;
   height: 300px;
   margin: 40px;
   border-radius: 10px;
   padding: 10px;
   padding-bottom: 30px ;}

   .libro2{
      width: 10%;
      height: 150px;
      margin: 20px;
      border-radius: 10px;
      padding: 10px;
       background-color: white;
   }

   .destacadoflex2{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-align: center;
    display: flex;
   }
    .background2{
      background-color: rgba(13, 57, 107, 0.534);}

      .boton
      {border-radius: 3px;
      width: 100%;
      padding: 10px;
      margin: 20px auto;
      border: 0px;
      color: white;
      background-color: #0044AA;}

     .contenedordetexto{
      width: 20vw;
      border-radius: 3px;  
      padding: 10px;
      border: black 1px solid;
   }
   .contenedorflex{
      display: flex;
      width: 60vw;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
   }

      .boton2
      {border-radius: 3px;
      width: 20vw;
      padding: 10px;
      border: 2px solid;
      color: black;
      border-color: black;
      background-color: #78B38A;}
      
      .boton3
      {border-radius: 3px;
      width: 10vw;
      padding: 10px;
      border: 2px solid;
      color: black;
      background-color: #78B38A;}
      

.contenedorbotones      {
         display: flex;
         width: 100vw;
         justify-content: center;
         margin-left: auto;
         margin-right: auto;
         margin-top: 100px;
}
.busqueda{
   width: 10vw;
   border-radius: 3px;  
   padding: 10px;
   border: black 1px solid;
}