.titulo{
    width: 70%;
    font-family: 'Lato', sans-serif;
    color: rgb(73, 115, 139);
    text-align: center;
   
}
.tituloderecha{
    font-family: 'Lato', sans-serif;
    color: rgb(73, 115, 139);
    text-align: right;
   
}
.background{
    background-color: rgba(127, 155, 186, 0.3);
    
}


 .miClase{
     font-size: 26px;
     margin: 5px;
 }


 .destacado{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-align: center;
 }

 .texto{
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    text-align: center;
 }

 .libro{
     width: 20%;
     height: 300px;
     margin: 40px;
     border-radius: 10px;
     padding: 10px;
     padding-bottom: 30px ;
     background-color: white;
     
     
 }
 .destacadoSinCentrar{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin: 5px;
 }

 .destacadoflex{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-align: center;
    display: flex;
    
 }
 .total{
    width: 100%;
     height: 100%;
 }