.titulo{
  
   font-family: 'Lato', sans-serif;
   color: rgb(73, 115, 139);
   flex-grow: 1;

}
.login{
   border-radius: 3px;
   border: 0px;
   color: white;
   
}
.ingresar{
   font-family: 'Lato', sans-serif;
   color: rgb(73, 115, 139); 
   display: flex;
   width: 30vw;
   justify-content: space-between;
}

.nada{
   font-style: normal;
   text-decoration: none;
}
.tituloderecha{
   font-family: 'Lato', sans-serif;
   color: rgb(73, 115, 139);
   text-align: right;
  
}

@media (max-width: 700px){
   .boton
      {  border-radius: 3px;
      width: 200px;
      height: 30px;
      padding: 10px;
      border: 0px;
      color: black;
      background-color: #78B38A;
   margin-top: 0px;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;}
   .imgarticulo{
      height: 47%;
      width: 35%;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      
   }
   
   .precioarticulo{
      font-size: 0px;
      font-family: 'Mulish', sans-serif;
      font-weight: 200;
      color: black;
      font-style: italic;
      margin-left:40px;
     margin-top: 0px;
     color: green;

     }
   .titulolibro{
      font-family: 'Mulish', sans-serif;
      font-weight: 200;
      width: 100%;
       color: rgb(0, 0, 0);
       font-size: 45px;
       margin-left: 10px;  
       margin-top: 10px;  
       font-style: italic;
        font-size: 16px;
    }
   .textoart{
      font-family: 'Mulish', sans-serif;
      font-weight:100 ;
      text-align: justify;
     height: 100%;
     width: 100%;
     font-size: 11px;
   }
   .descripcionarticulo{
      height: 50%;
      width: 80%;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-top: 10px;
      margin-right: auto;
      border: gray 2px solid;
      border-radius: 10px; 
   display: flex;
flex-direction: column;}
   .padrearticulo{
      display: flex;
      border-radius: 30px;
      margin-top: 70px;
      height: 90vh;
      width: 80vw ;
      background-color: white;
      margin-left:auto;
      margin-right: auto;
      flex-direction: column;
      text-align: center;
   }
  
   .izquierda{
      width: 25vw ;
      display: flex;
      justify-content: space-between;
    }
    .boton3
    {border-radius: 3px;
    width: 16vw;
    padding: 10px;
    height: 29px;
    border: 2px solid;
    color: black;
    background-color: #78B38A;
   font-size: 12px;
   text-decoration:none;
   margin-top: 1px;
}
    
    .miClase2{
      margin-top: 30px;
      margin-left: 10px;
      font-size: 4vh;
     
   }
    .miClase{
      margin-top: 10px;
      margin-left: 10px;
      font-size: 20px;
     
   }
   .ingresar{flex-direction: column;
   justify-content: center;}
   .login{
      margin-right: 0vw;
   }
   .destacadoflex{
      font-family: 'Mulish', sans-serif;
      font-weight: 600;
      display: flex;
      flex-direction: column;  
      
   }
   .libro{
      width: 60vw;
      height: 70vh;
      border-radius: 10px;
      padding: 10px;
      padding-bottom: 30px ;
      color: black;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      
  }
    .busqueda{
       display: none;
    }
    
    .articulocarrito{
      margin-top: 50px;
      width: 100%;
      height: 40vh;
      border: black 3px solid;
      display: flex;
      flex-direction: row
   }
   .imagencarrito{
    height: 90%;
    width: 50%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
   position: relative;
   }
   
   .eliminararticulo{
      margin-left: 50%;
      margin-right: 10px;
      margin-bottom: auto;
      margin-top: auto;
      
      
   }
   }
   @media (max-width: 1000px){
      header{
              flex-direction: column;
              align-items: flex-start;
      }
} 
.header{
   height: 90px;
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   display: flex;
   text-align: center;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.background{
   background-color: rgba(127, 155, 186, 0.3);
  
}




.buscar{
   margin-top: 20px;
}
.destacado{
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   text-align: center;
}

.texto{
   font-family: 'Mulish', sans-serif;
   font-weight: 200;
   text-align: center;
}


.destacadoSinCentrar{
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   margin: 5px;
}

.destacadoflex{
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;  
   
}
.total{
   width: 100%;
    height: 100%;
    border-radius: 10px;
}








  
 
  .carritos{width: 20%;
   height: 300px;
   margin: 40px;
   border-radius: 10px;
   padding: 10px;
   padding-bottom: 30px ;}

   .libro2{
      width: 10%;
      height: 150px;
      margin: 20px;
      border-radius: 10px;
      padding: 10px;
       background-color: white;
   }

   .destacadoflex2{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    text-align: center;
    display: flex;
   }
    .background2{
      background-color: rgba(13, 57, 107, 0.534);}

      

     .contenedordetexto{
      width: 20vw;
      border-radius: 3px;  
      padding: 10px;
      margin-top: 20px;
      border: black 1px solid;
   }
   .contenedorflex{
      display: flex;
      width: 65vw;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      flex-wrap: wrap;
   }

      .boton2
      {border-radius: 3px;
      width: 20vw;
      padding: 10px;
      border: 2px solid;
      color: black;
      border-color: black;
      background-color: #78B38A;}
      


.contenedorbotones      {
         display: flex;
         width: 100vw;
         justify-content: center;
         margin-left: auto;
         margin-right: auto;
         margin-top: 100px;
}
.busqueda{
   width: 10vw;
   border-radius: 3px;  
   padding: 10px;
   border: black 1px solid;
}

.contenedorcolumna{
   display: flex;
   flex-direction: column;
}
@media(min-width:700px){
   .boton
      {border-radius: 3px;
      width: 100%;
      padding: 10px;
      margin: 20px auto;
      border: 0px;
      color: black;
      background-color: #78B38A;
   margin-bottom: 10px;}
   .imgarticulo{
      height: 87%;
      width: 35%;
      margin-top: 25px;
      margin-left: 70px;
   }
   
   .precioarticulo{
      font-size: 30px;
      font-family: 'Mulish', sans-serif;
      font-weight: 200;
      color: black;
      font-style: italic;
      margin-left:55px;
     margin-top: 0px;
     color: green;
     }
   .titulolibro{
      font-family: 'Mulish', sans-serif;
      font-weight: 800;
      width: 100%;
       color: rgb(0, 0, 0);
       font-size: 45px;
       margin-left: 10px;  
       margin-top: 25px;  
       font-style: italic;
        font-size: 20px;
    }
   .textoart{
      font-family: 'Mulish', sans-serif;
      font-weight:200 ;
      text-align: justify;
  font-size:  18px;
   }
   .descripcionarticulo{
      height: 88%;
      width: 44%;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 40px;
      margin-top: 20px;
      margin-right: 20px;
      border: gray 2px solid;
      border-radius: 10px;}
   .padrearticulo{
      display: flex;
      border-radius: 30px;
      margin-top: 70px;
      height: 75vh;
      width: 70vw ;
      background-color: white;
      margin-left:auto;
      margin-right: auto;
      text-align: center;
   }
   .imagencarrito{
   height: 94%;
   width: 16%;
   margin-left: 20px;
   margin-top: auto;
   margin-bottom: auto;
  position: relative;
  }
  .boton3
  {border-radius: 3px;
  width: 13vw;
  padding: 10px;
  border: 2px solid;
  color: black;
  background-color: #78B38A;
  text-decoration:none;
  margin-left: 0px;
}
  
  .miClase2{
   margin-top: 30px;
   margin-left: 10px;
   font-size: 5vh;
  
}
  .miClase{
   margin-top: 10px;
   margin-left: 10px;
   font-size: 26px;
  
}
  .izquierda{
   width: 30vw ;
   display: flex;
   justify-content: space-between;
 }
  .libro{
   width: 15vw;
   height: 49vh;
   border-radius: 10px;
   padding: 10px;
   padding-bottom: 30px ;
   color: black;
   background-color: white;
   
   
}
}
.articulocarrito{
   width: 100%;
   height: 40vh;
   border: black 3px solid;
   display: flex;
   flex-direction: row
}


.eliminararticulo{
   margin-left: 50%;
   margin-right: 10px;
   margin-bottom: auto;
   margin-top: auto;
   
   
}
.sinDecoracion{
   text-decoration:none

}
.boton
      {border-radius: 3px;
      width: 100%;
      padding: 10px;
      margin: 20px auto;
      border: 0px;
      color: black;
      padding: 30px;
      background-color: #78B38A;
   margin-bottom: 10px;
margin-top: 30px;}
.cantidadlibros{
   height: 20px;
   width: 40px;
   margin-top: 40px;
}